body {
  text-align: center;
  background-color: rgb(22, 22, 38);
}

h1 {
  font-size: 5rem;
  color: rgb(0, 180, 235);
  text-shadow: 3px 0 rgb(59, 58, 74);

}

footer {
  color: rgb(0, 180, 235);
  font-family: sans-serif;
}

.set {
  margin: 10% auto;
}


.drum {
  outline: none;
  border: 10px solid rgb(0, 180, 235);
  font-size: 5rem;
  font-weight: 900;
  color: rgb(22, 22, 38);
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 140px;
  height: 140px;
  text-align: center;
  margin: 10px;
  background-color: rgb(59, 58, 74);
}

.recordings{
  border: 10px solid rgb(0, 180, 235);
  color: rgb(22, 22, 38);
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  width: 90px;
  height: 50px;
  display: inline-block;
}
 
