body {
  text-align: center;
  background-color: rgb(22, 22, 38);
}

h1 {
  font-size: 5rem;
  color: rgb(0, 180, 235);
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 rgb(59, 58, 74);

}

footer {
  color: rgb(0, 180, 235);
  font-family: sans-serif;
}

.set {
  margin: 10% auto;
}


.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid rgb(0, 180, 235);
  font-size: 5rem;
  font-weight: 900;
  color: rgb(22, 22, 38);
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 140px;
  height: 140px;
  text-align: center;
  margin: 10px;
  background-color: rgb(59, 58, 74);
}

.rec-container{
  border: 10px solid rgb(0, 180, 235);
  color: rgb(22, 22, 38);
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 10px;
  background-color: white;
}  
